---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const { page, frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>

  <div id="pamatka-single" class="md:p-10">
    <section class="flex flex-col-reverse md:flex-row flex-auto basis-1/2">
       {frontmatter.image &&
        <img class="md:max-w-[40%] h-auto aspect-auto md:mr-5 mt-5 md:mt-0 flex-auto" src={frontmatter.image} alt={frontmatter.title} />
        }
      <Card>
        <article class="inline-block text-left md:text-justify justify-start items-start space-y-4">
          <h1 class="lg:leading-loose leading-relaxed mb-3">{frontmatter.id}. {frontmatter.title}</h1>
          <slot />
        </article>
        <a class="btn my-3 w-full text-center" href=`/#${frontmatter.trasa}`>Zpět</a>
      </Card>
    </section>
  </div>

  </Layout>
